<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <!--TODO: Use production vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
    :root {
      --primary: #3949ab;
    }

    .container {
      width: 800px;
    }

    h1 {
      text-align: center;
      margin-bottom: 80px;
    }

    h3 {
      text-align: center;
    }

    .lose-button {
        background-color: #43a047;
    }
    
    .win-button {
        background-color: #e53935;
    }
      
    </style>


</head>

<body>
<main class="container">
<h1>Welcome to the  unbeatable rock&#x2011;paper&#x2011;scissor bot</h1>
<div id="app">
    <div class="grid" id="user-input" v-if="inputVisible">
      <button v-on:click="choose" data-id="Rock">Rock</button>
      <button v-on:click="choose" data-id="Paper">Paper</button>
      <button v-on:click="choose" data-id="Scissor">Scissor</button>
    </div>

    <div id="progress" v-if="progressVisible">
        <h3>Processing ...</h3>
        <progress indeterminate="true"></progress>
    </div>

    <div id="result" v-if="resultVisible">
        <h3>You lost :'(</h3>

        <div class="grid" id="result-grid">
            <button class="win-button"> You chose: {{ userHand }}</button>
            <button class="lose-button"> Bot chose: {{ aiHand }}</button>
        </div>
        <button v-on:click="reset" class="secondary">Play again!</button>
    </div>
</div>
</main>

<script>
var app = new Vue({
  el: '#app',
  data: {
    inputVisible: true,
    resultVisible: false,
    progressVisible: false,
    userHand: '',
    aiHand: '',
  },
  methods: {
    choose: async function() {
      this.inputVisible = false;
      this.userHand = event.target.getAttribute('data-id');
      // Show progress bar
      this.progressVisible = true;

      Promise.all([
        fetch('http://localhost:8000/compute', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({'session_id': 100, 'hand': this.userHand})
        }),
        new Promise(resolve => setTimeout(resolve, 1000))
      ]).then(async (values) => {
        const result = await values[0].json();
        this.progressVisible = false;
        console.log(result);
        this.aiHand = this.capitalizeFirstLetter(result['ai_hand']);
        // Hide progress bar
        this.resultVisible = true;
      });
    
      // TODO: Error handling
      // if not 200, show error
    },
    capitalizeFirstLetter: function(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    reset: function() {
      this.inputVisible = true;
      this.resultVisible = false;
      this.userHand = '';
    },
  },
})
</script>
</body>
